@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tienda de deportes</h1>
    <p class="lead">Tienda que permite la compra de productos deportivos</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>¿Cómo empezar?</h2>
        <ul>
            <li>
                Regístrate
            </li>

            <li>
                Elige algún producto y añádelo a tu cesta de la compra
            </li>

            <li>
                Pague su cesta de la compra
            </li>

            <li>
                Comente aquellas noticias que son de su interés
            </li>
        </ul>

    </div>
    <div class="col-md-6">
        <h2>Registrarse es gratis</h2>
        <p>No cuesta nada y podrás ver toda nuestra selección de productos</p>
    </div>
</div>