<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://proyectofinaldeporte.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>proyectofinaldeporte.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProyectoFinalDeporte</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ProyectoFinalDeporte</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ivanfernandez.database.windows.net,1433;Initial Catalog=ProyectoFinalDeportedb;User ID=exensor@ivanfernandez;Password=Zjbasket19" Name="Data Source=tcp:ivanfernandez.database.windows.net,1433;Initial Catalog=ProyectoFinalDeportedb;User Id=exensor@ivanfernandez;Password=Zjbasket19" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProyectoFinalDeporte.Models.ApplicationDbContext, ProyectoFinalDeporte" MigrationConfiguration="ProyectoFinalDeporte.Migrations.Configuration, ProyectoFinalDeporte" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ivanfernandez.database.windows.net,1433;Initial Catalog=ProyectoFinalDeportedb;User Id=exensor@ivanfernandez;Password=Zjbasket19</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>